<?xml version="1.0"?>
<config>    
    <modules>
        <Wangxp_Configviewer>
            <version>0.1.0</version>
        </Wangxp_Configviewer>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <wangxp_configviewer_model_observer>
                        <type>singleton</type>                            
                        <class>Wangxp_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </wangxp_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <configviewer>
                <use>standard</use>
                <args>
                    <module>Wangxp_Configviewer</module>
                    <frontName>configviewer</frontName>
                </args>
            </configviewer>
        </routers>
    </frontend>
</config>